body {
  background: #ddd;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ddd;
}

.App-link {
  color: #09d3ac;
}

.game-grid {
  margin-top: 10px;
}

.game-row img {
  height: 30px;
  width: 30px;
  font-size: 30px;
  margin: 5px 5px 0px 5px;
}
