<h1>Add A Book!</h1>

<form class="new-book-form" action="/books/" method="post">
  <input type="text" name="title" placeholder="Title">
  <input type="text" name="author" placeholder="Author">
  <input type="text" name="snippet" placeholder="Snippet" value="Default Snippet">
  <input type="submit" value="Add Book">
</form>
